* {
    box-sizing: border-box;
    margin: 0;
    border: 1px solid white;
}

.container {
    height: 100vh;
    display: flex;
}

.left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    width: 60%;
    background-color: red;
    height: 100%;
}

.top {
    height: 40%;
    width: 100%;
    background-color: orange;

}

.con {
    height: 40%;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.small-one, .small-two {
    height: 50%;
    width: 50%;
    background-color: gray;
}

.half {
    height: 100%;
    width: 50%;
    background-color: purple;
}

.bottom {
    height: 20%;
    width: 100%;
    background-color: green;
}

.right {
    width: 40%;
    background-color: blue;
}